<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<%= will_paginate %>
<%= WillPaginate.per_page = 20 %>
<div id="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</div>
<%= will_paginate %>

<%= link_to "New user", new_user_path %>
